.about-title {
  padding-bottom: 4rem;
}

.about-title h1 {
  color: var(--vhs-white);
  filter: blur(1px);
  font-style: italic;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  user-select: none;
}

.about-title p {
  width: 50%;
  font-size: 1.8rem;
  line-height: 2rem;
  color: white;
  text-transform: uppercase;
  filter: blur(1px);
  letter-spacing: 2px;
}

.section-wrap h2 {
  color: var(--vhs-white);
  text-shadow: -1px -1px 0px var(--vhs-light-blue), 1px 1px 0px var(--vhs-red);
  filter: blur(1px);
  font-style: italic;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  transform: perspective(1500px) rotateY(18deg);
  transform-origin: -100px;
}

.section-wrap {
  padding: 2rem 0;
}

.section-wrap ol {
  position: relative;
  width: 45%;
  color: var(--vhs-white);
}

.section-wrap ol::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  height: calc(100% + 10px);
  width: 2px;
  background-color: var(--vhs-white);
  filter: blur(1px);
}

.section-wrap li {
  position: relative;
  margin: 0 0 44px 18px;
}

.section-wrap li::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid var(--vhs-white);
  background: repeating-linear-gradient(
    0deg,
    #120614 25%,
    #120614 50%,
    #171819 50%,
    #171819 75%
  );
  background-size: 10px 10px;
  filter: blur(1px);
}

.section-wrap ol li h3 {
  font-size: 28px;
  font-style: italic;
  letter-spacing: 0.4px;
  color: rgba(247, 230, 249, 0.6);
  text-shadow: -1px -1px 0px var(--vhs-light-blue), 1px 1px 0px var(--vhs-red);
}

.heading {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.heading span {
  align-self: center;
  font-size: 18px;
  color: rgba(247, 230, 249, 0.9);
  user-select: none;
}

.section-wrap ol li p {
  white-space: pre-line;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--vhs-white);
}

.hobbies h4 {
  color: var(--vhs-white);
  text-shadow: -1px -1px 0px var(--vhs-light-blue), 1px 1px 0px var(--vhs-red);
  filter: blur(1px);
  font-style: italic;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 1rem;
  transform: perspective(1500px) rotateY(18deg);
  transform-origin: -100px;
}

.hobby {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  transform: translateX(-8px);
  margin-bottom: 4rem;
}

.hobby img {
  justify-self: left;
  max-height: 550px;
  filter: blur(1px);
  transform: scaleX(-100%);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.hobby-text {
  margin-top: 44px;
  transform: perspective(1500px) rotateY(18deg);
  transform-origin: 0px;
}

.hobby-text h5 {
  color: var(--vhs-white);
  text-shadow: -1px -1px 0px var(--vhs-light-blue), 1px 1px 0px var(--vhs-red);
  filter: blur(1px);
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  user-select: none;
}

.hobby-text p {
  color: var(--vhs-white);
  width: 70%;
  font-size: 24px;
  letter-spacing: 0.2px;
}

.cv {
  width: 70%;
  margin: 2rem auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.cv a {
  display: flex;
  cursor: pointer;
  justify-self: center;
  text-transform: uppercase;
  background-color: var(--vhs-blue);
  color: var(--vhs-white);
  border-radius: 5px;
  padding: 1rem 4rem;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  transition: all 0.4s;
}

.cv img {
  transform: translateY(-2px);
  transition: all 0.25s;
}

.cv a:hover {
  text-shadow: 2px 2px 1px var(--vhs-red);
}

.cv:hover img {
  filter: drop-shadow(2px 2px 1px var(--vhs-red));
}

@media screen and (max-width: 900px) {
  .about-title {
    padding-bottom: 1rem;
    margin: 0 10px;
  }

  .about-title h1 {
    font-size: 48px;
  }

  .about-title p {
    font-size: 24px;
    line-height: 26px;
    width: 100%;
  }

  .section-wrap {
    margin: 0 10px;
  }

  .section-wrap h2 {
    font-size: 40px;
  }

  .heading span {
    display: flex;
    align-self: center;
    font-size: 18px;
    color: rgba(247, 230, 249, 0.9);
    width: fit-content;
  }

  .heading span > svg {
    transform: translateY(1.5px);
  }

  .section-wrap ol {
    width: 100%;
  }

  .hobbies {
    margin: 0 10px;
  }

  .hobbies h4 {
    font-size: 40px;
  }

  .hobby {
    grid-template-columns: repeat(1, 1fr);
  }

  .hobby img {
    width: 100%;
  }

  .hobby-text {
    margin-top: 14px;
  }

  .hobby-text p {
    width: 100%;
  }

  .cv {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
    margin: unset;
  }
}
