.header-wrap {
  height: 100dvh;
  padding-left: 2rem;
}

.header {
  padding-top: 1rem;
  transform: perspective(1500px) rotateY(18deg);
  transform-style: preserve-3d;
  transform-origin: 0;
}

.header h1,
.header h2,
.header h3 {
  color: #f7e6f9;
  text-transform: uppercase;
  user-select: none;
  text-shadow: 0.06em 0.05em 0 #f232ea, -0.05em -0.05em 0 #1413e5;
  font-style: italic;
  letter-spacing: 4px;
  filter: blur(1px);
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.header h2 {
  font-size: 5rem;
  line-height: 5.2rem;
  margin-bottom: 0.3rem;
}

.header h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

.header-wrap p {
  align-self: flex-end;
  width: 50%;
  transform: perspective(1500px) rotateY(18deg);
  transform-origin: 0;
  transform-style: preserve-3d;
  font-size: 2.7rem;
  color: rgba(169, 159, 170, 0.3);
  text-transform: uppercase;
  font-style: italic;
  filter: blur(1px);
  letter-spacing: 2px;
  user-select: none;
  margin-bottom: 7px;
}

@media screen and (max-width: 900px) {
  .header-wrap {
    padding-left: 10px;
  }

  .header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .header h2 {
    font-size: 3.5rem;
    line-height: 2.8rem;
    margin-bottom: 0.3rem;
  }

  .header h3 {
    font-size: 19px;
  }

  .header-wrap p {
    width: 100%;
    font-size: 2.2rem;
    margin-bottom: 25px;
  }
}
