.projects-title {
  padding-bottom: 4rem;
}

.projects-title h1 {
  color: var(--vhs-white);
  filter: blur(1px);
  font-style: italic;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  user-select: none;
}

.projects-title h2 {
  color: var(--vhs-white);
  filter: blur(1px);
  font-size: 2rem;
  width: 50%;
}

.projects {
  grid-template-columns: repeat(2, 1fr);
  width: 82.5%;
  row-gap: 35px;
  column-gap: 20px;
}

.box {
  cursor: pointer;
}

.box img {
  width: 100%;
  min-height: 300px;
  height: 414px;
}

.box-img {
  background-size: cover;
  min-height: 300px;
  height: 414px;
  width: 100%;
}

.agmi-image {
  background-image: url('../Assets/AgmiStatic.webp');
}

.agmi-box:hover .agmi-image {
  background-image: url('https://api.apify.com/v2/key-value-stores/GPZF9d2xRgnlMMttJ/records/www.agmitransport.pl-scroll_lossy-comp');
}

.col-image {
  background-image: url('../Assets/CoLStatic.webp');
}

.col-box:hover .col-image {
  background-image: url('https://api.apify.com/v2/key-value-stores/ecvWqYJqvoilY9H5L/records/devcol.vercel.app-scroll_lossy-comp');
}

.strony-wyp-image {
  background-image: url('../Assets/StronynaWStatic.webp');
}

.strony-wyp-box:hover .strony-wyp-image {
  background-image: url('https://api.apify.com/v2/key-value-stores/eIzQy5YZs8MvzSfAE/records/stronynawypasie.pl-scroll_lossy-comp');
}

.excel-wypas-image {
  background-image: url('../Assets/ExcelnaWStatic.webp');
}

.excel-wypas-box:hover .excel-wypas-image {
  background-image: url('https://api.apify.com/v2/key-value-stores/G0KLIkLGv7A73VKeR/records/www.excelnawypasie.pl-scroll_lossy-comp');
}

.selenbit-image {
  background-image: url('../Assets/SelenBitStatic.webp');
}

.selenbit-box:hover .selenbit-image {
  background-image: url('https://api.apify.com/v2/key-value-stores/1NGmhcail7Q89XQ61/records/selenbit.pl-scroll_lossy-comp');
}

.excel-rze-image {
  background-image: url('../Assets/excelrzeStatic.webp');
}

.excel-rze-box:hover .excel-rze-image {
  background-image: url('https://api.apify.com/v2/key-value-stores/DVwBtoJJShIGkeqkj/records/www.excelrzeszow.pl-scroll_lossy-comp');
}

.barber-image {
  background-image: url('../Assets/BarberStatic.webp');
}

.barber-box:hover .barber-image {
  background-image: url('https://api.apify.com/v2/key-value-stores/qkR4Eg3GxSa1dheyk/records/barber-eta-bice.vercel.app-scroll_lossy-comp');
}

.box-text {
  padding: 5px 3px 15px;
}

.box-text h3 {
  color: rgba(247, 230, 249, 0.6);
  text-shadow: -1px -1px 0px var(--vhs-light-blue), 1px 1px 0px var(--vhs-red);
  font-size: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

.box-text p {
  color: rgba(247, 230, 249, 0.6);
  font-size: 18px;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 1500px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
    width: 60%;
  }

  .box img {
    height: unset;
  }
}

@media screen and (max-width: 900px) {
  .projects-title {
    padding-bottom: 1rem;
  }

  .projects-title h2 {
    width: 95%;
    font-size: 28px;
  }

  .projects {
    width: 100%;
    row-gap: 0px;
  }

  .box img {
    margin-top: 70px;
    min-height: unset;
    height: fit-content;
  }

  .box-img {
    height: unset;
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .agmi-image {
    background-image: url('https://api.apify.com/v2/key-value-stores/GPZF9d2xRgnlMMttJ/records/www.agmitransport.pl-scroll_lossy-comp');
  }

  .col-image {
    background-image: url('https://api.apify.com/v2/key-value-stores/ecvWqYJqvoilY9H5L/records/devcol.vercel.app-scroll_lossy-comp');
  }

  .strony-wyp-image {
    background-image: url('https://api.apify.com/v2/key-value-stores/eIzQy5YZs8MvzSfAE/records/stronynawypasie.pl-scroll_lossy-comp');
  }

  .excel-wypas-image {
    background-image: url('https://api.apify.com/v2/key-value-stores/G0KLIkLGv7A73VKeR/records/www.excelnawypasie.pl-scroll_lossy-comp');
  }

  .selenbit-image {
    background-image: url('https://api.apify.com/v2/key-value-stores/1NGmhcail7Q89XQ61/records/selenbit.pl-scroll_lossy-comp');
  }

  .excel-rze-image {
    background-image: url('https://api.apify.com/v2/key-value-stores/DVwBtoJJShIGkeqkj/records/www.excelrzeszow.pl-scroll_lossy-comp');
  }

  .barber-image {
    background-image: url('https://api.apify.com/v2/key-value-stores/qkR4Eg3GxSa1dheyk/records/barber-eta-bice.vercel.app-scroll_lossy-comp');
  }
}
