.copyright {
  position: relative;
}

.copyright p {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  letter-spacing: 0.4px;
  user-select: none;
  width: fit-content;
  margin-left: auto;
  font-size: 22px;
  color: rgba(247, 230, 249, 0.6);
  transform: perspective(1500px) rotateY(-18deg);
}

.copyright p > svg {
  transform: translateY(1.5px);
}
