.copyright p {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  user-select: none;
  width: fit-content;
  margin-left: auto;
  font-size: 22px;
  letter-spacing: 0.4px;
  font-style: italic;
  color: rgba(247, 230, 249, 0.6);
  transform: perspective(1500px) rotateY(-18deg);
}

.copyright p > svg {
  transform: translateY(1.5px);
}

@media screen and (max-width: 900px) {
  .copyright p {
    font-size: 18px;
    right: 5px;
    bottom: 10px;
  }

  .copyright p > svg {
    transform: translateY(2.5px);
    width: 16px;
  }
}
