.nav {
  z-index: 55;
  position: fixed;
  right: 2rem;
  top: 3rem;
  transform: perspective(1000px) rotateY(-18deg);
  transform-origin: 0;
}

.navbar-800 {
  display: none;
}

.nav li {
  width: fit-content;
  margin: 5px 0 5px auto;
}

.nav li a {
  user-select: none;
  font-size: 2.8rem;
  color: rgba(247, 230, 249, 0.9);
  letter-spacing: 0.6px;
  transition: all 0.4s;
}

.nav li a:hover,
.nav li a:focus {
  text-shadow: 0.06em 0.05em 0 var(--vhs-red);
}

.nav li a::before {
  content: '> ';
  opacity: 0;
  text-shadow: 0.06em 0.05em 0 var(--vhs-red);
  transition: all 0.4s;
}

.nav li a:hover::before,
.nav li a:focus::before {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .nav {
    display: none;
  }

  .navbar-800 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px 10px;
    justify-content: space-between;
  }

  .navbar-800 span {
    z-index: 99;
    margin-top: 4px;
    font-size: 22px;
    color: var(--vhs-white);
    text-shadow: 0.06em 0.05em 0 #f232ea, -0.05em -0.05em 0 #1413e5;
    filter: blur(1px);
  }

  .menu-button {
    z-index: 99;
    justify-self: end;
    color: var(--vhs-white);
    filter: blur(1px) drop-shadow(0.06em 0.05em 0 #f232ea)
      drop-shadow(-0.05em -0.05em 0 #1413e5);
  }

  .nav-800 {
    position: absolute;
    left: 0;
    top: -100%;
    background: repeating-linear-gradient(
      0deg,
      #120614 25%,
      #120614 50%,
      #171819 50%,
      #171819 75%
    );
    background-size: 10px 10px;
    z-index: 98;
    transition: all 650ms ease-in-out;
  }

  .active {
    top: 0%;
  }

  .nav-800 ol {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .nav-800 li {
    text-align: center;
  }

  .nav-800 li a {
    position: relative;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--vhs-white);
    text-shadow: 0.06em 0.05em 0 #f232ea, -0.05em -0.05em 0 #1413e5;
    filter: blur(1px);
  }

  .nav-800 li a::before {
    content: '';
    position: absolute;
    left: -18px;
    top: 47.5%;
    transform: translateY(-50%);
    height: 13px;
    width: 13px;
    background-color: var(--vhs-white);
    filter: drop-shadow(0.06em 0.05em 0 #f232ea)
      drop-shadow(-0.05em -0.05em 0 #1413e5);
  }
}
